.ipynb_checkpoints
old/
__pycache__/
.DS_Store
.ipynb_checkpoints/
data/00_raw_recordings/
data/01_transcripts_original_transcription/
data/02_transcripts_corrected/
data/04_transcripts_corrected_selected
data/08_ratings_explained/
data/02_transcripts_corrected_selected/
Notes.txt
scripts/old
data/old
scripts/.ipynb_checkpoints/
01d_LLM_Evaluation_Explain.ipynb